<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<WBR.WayBetterRomance>Way Better Romance</WBR.WayBetterRomance>
	<WBR.OrientationHeading>Sexual Orientation Chances</WBR.OrientationHeading>
	<WBR.OrientationHeadingTip>Each person in the game will be either straight, bisexual, gay, or asexual. The sliders below allow you to determine the relative commonality of each of those orientations.</WBR.OrientationHeadingTip>
	<WBR.StraightChance>Straight: {0}%</WBR.StraightChance>
	<WBR.StraightChanceTip>Romantically and sexually interested only in opposite-gender partners</WBR.StraightChanceTip>
	<WBR.BisexualChance>Bisexual: {0}%</WBR.BisexualChance>
	<WBR.BisexualChanceTip>Romantically and sexually interested in both men and women</WBR.BisexualChanceTip>
	<WBR.GayChance>Gay: {0}%</WBR.GayChance>
	<WBR.GayChanceTip>Romantically and sexually interested only in same-gender partners</WBR.GayChanceTip>
	<WBR.AsexualChance>Asexual: {0}%</WBR.AsexualChance>
	<WBR.AsexualChanceTip>Uninterested in initiating sexual engagements. Asexual people have a rating for how sex repulsed they are and will agree to sex based on their rating. Their feelings about these encounters can be negative if the rating is low enough.</WBR.AsexualChanceTip>

	<WBR.AceOrientationHeading>Asexual Romantic Orientation Chances</WBR.AceOrientationHeading>
	<WBR.AceOrientationHeadingTip>Asexual people will be assigned a romantic orientation using the settings below.</WBR.AceOrientationHeadingTip>
	<WBR.HeteroromanticChance>Heteroromantic: {0}%</WBR.HeteroromanticChance>
	<WBR.HeteroromanticChanceTip>Romantically interested only in opposite-gender partners</WBR.HeteroromanticChanceTip>
	<WBR.BiromanticChance>Biromantic: {0}%</WBR.BiromanticChance>
	<WBR.BiromanticChanceTip>Romantically interested in both men and women</WBR.BiromanticChanceTip>
	<WBR.HomoromanticChance>Homoromantic: {0}%</WBR.HomoromanticChance>
	<WBR.HomoromanticChanceTip>Romantically interested only in same-gender partners</WBR.HomoromanticChanceTip>
	<WBR.AromanticChance>Aromantic: {0}%</WBR.AromanticChance>
	<WBR.AromanticChanceTip>Uninterested in all romantic engagements. They will behave similar to asexual people in vanilla.</WBR.AromanticChanceTip>

	<WBR.OtherHeading>Other Settings</WBR.OtherHeading>
	<WBR.AlienLoveChance>Modifier for Cross-Species Romance: {0}%</WBR.AlienLoveChance>
	<WBR.AlienLoveChanceTip>This slider determines how likely pawns are to be romantically interested in pawns of other species. (Obviously, the setting only matters if you're actually playing with alien races in your game.) If set to 100%, pawns will be just as likely to attempt to romance members of alien species as to romance members of their own species. If set to 0%, cross-species romances will never occur.</WBR.AlienLoveChanceTip>
	<WBR.DateRate>Base Rate to Propose Dates and Hangouts: {0}%</WBR.DateRate>
	<WBR.DateRateTip>Relative frequency for dates. Please note that since this is a recreation activity, the actual frequency will depend on the availability of other recreation activities. Bored pawns will propose dates/hangouts more often. Set to 0% to disable dates and hangouts entirely.</WBR.DateRateTip>
	<WBR.HookupRate>Base Rate to Propose Hookups: {0}%</WBR.HookupRate>
	<WBR.HookupRateTip>Relative frequency for hookups. Please note that since this is a recreation activity, the actual frequency will depend on the availability of other recreation activities. Bored pawns will propose hookups more often. Set to 0% to disable hookups entirely.</WBR.HookupRateTip>
	<WBR.MinOpinionRomance>Minimum Opinion for Romance Attempts: {0}</WBR.MinOpinionRomance>
	<WBR.MinOpinionRomanceTip>A pawn will never consider a romance attempt if their opinion of the other person is lower than this setting.</WBR.MinOpinionRomanceTip>
	<WBR.MinOpinionHookup>Minimum Opinion for Hookups: {0}</WBR.MinOpinionHookup>
	<WBR.MinOpinionHookupTip>A pawn will never consider a hookup if their opinion of the other person is lower than this setting.</WBR.MinOpinionHookupTip>
	<WBR.CheatChance>Modifier for Cheating: {0}%</WBR.CheatChance>
	<WBR.CheatChanceTip>Cheating consideration is based on the initiator's ideoligion and their opinion of their most liked partner, so the actual chances will vary per pawn. This setting alters the chance at the very end of considerations. Setting to 0% will result in a pawn never deciding to cheat, but that will still only matter if their ideo considers an interaction cheating. Partners with a different ideo may still feel cheated on.</WBR.CheatChanceTip>
	<WBR.CheatingOpinionRange>Opinion Range for Cheating</WBR.CheatingOpinionRange>
	<WBR.CheatingOpinionRangeTip>The main factor to determine if a pawn will cheat is their opinion of their partner. If their opinion is below the min they will always be okay with cheating. If their opinion is above the max they will never be okay with cheating. If there are multiple partners the lowest factor is used. Do note that philanderers have a base chance added to the opinion factor, so it will never be zero.</WBR.CheatingOpinionRangeTip>

	<WBR.MatchAboveButton>Match above</WBR.MatchAboveButton>
	<WBR.MatchBelowButton>Match below</WBR.MatchBelowButton>
	
	<!--Misc-->
	<WBR.FertilityMod>Fertility Mod</WBR.FertilityMod>
	<WBR.NoFertilityMod>No fertility mod detected. If you are using one, please let me know which one so I can add support for it.</WBR.NoFertilityMod>
	<WBR.AddJoyNeed>Add joy need (reload save after changing)</WBR.AddJoyNeed>
	<WBR.Guests>Include Guests?</WBR.Guests>
	<WBR.GuestsTip>Guests are pawns not under your control that you're temporarily taking care of. Namely non-hostile pawns that you rescued. &lt;b&gt;Not&lt;/b&gt; temporary colonists from hospitality/refugee quests.</WBR.GuestsTip>
</LanguageData>
